@page "/flowers"
@using FlowerShopLibrary

@inject FlowerProductList ProductList

<h3>Available Flowers</h3>

<ul>
    @foreach (var flower in ProductList.AvailableFlowers)
    {
        <li>@flower.Name - @flower.GetFormattedPrice()</li>
    }
</ul>
