@page "/supply"
@inject HttpClient Http
@inject NavigationManager _navigation
@inject StringLibrary.FlowerShopBusiness FlowerBiz

<PageTitle>Supply Management</PageTitle>

<h1>Supply Management</h1>

<p>This component demonstrates fetching data from the server.</p>


@code {
}
